body {
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
    user-select: none;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Style */

.image-container {
    height: 128px;
    width: 128px;
    border-radius: 100%;
    overflow: hidden;
}

/* Link Style */

.tile {
    width: 100%;
    background-color: #1b1b1b;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
}

.tile-share-button svg {
    margin-left: 12px;
    margin-top: 10px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240,240,240);
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0,0,0);
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

/* Others */

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

.space {
    margin-top: 25px;
    margin-bottom: 25px;
}